<template name="nav_side">
  <div id="sideNavContainer">
    <div class="side-menu-wrap">
      <div class="menu-sidebar">
        <div id="home"><i class="fas fa-church"></i>Home</div>
        {{#if currentUser}}
        <div id="notes"><i class="fas fa-sticky-note"></i>Notes</div>
        <div id="worship"><i class="fas fa-music"></i>Worship</div>
        <div id="bible"><i class="fas fa-bible"></i>Bible</div>
        {{/if}}
        <div id="login"><i class="fas fa-user"></i>{{> loginButtons}}</div>
        {{#if currentUser}}
        <div id="settings"><i class="fas fa-cog"></i>Settings</div>
        {{/if}}
        {{#if isInRole 'admin'}}
        <div id="admin"><i class="fas fa-cog"></i>Admin</div> 
        {{/if}}
        {{#if currentUser}}
        <div id="stream"><i class="fas fa-broadcast-tower"></i>Stream</div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
